<div class="text-center mt-5">
  <h1 class="mb-4">Sistema de Reservas de Sala</h1>

  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="/salas" class="btn btn-primary btn-lg">Salas Disponíveis</a>
    <a href="/reservarUsuario" class="btn btn-success btn-lg">Fazer Reserva</a>
    <a href="/minhasReservas" class="btn btn-secondary btn-lg">Minhas Reservas</a>
  </div>
</div>